* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
    height: 100px;
    color: black;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    margin-left: 10px;
}

.nav__lista {
    list-style: none;
    display: flex;
    margin: 10px;
    text-decoration: none;
    color: black;

}

.nav__item {
    margin-left: 16px;
    font-size: 18px;
    color: antiquewhite;
    text-decoration: none;
}

.logo {
    width: 50%;
    margin: 20px;

}



.body {
    font-family: 'Prompt', sans-serif;
}


.section1 {

    display: flex;
    min-height: 200px;
    width: 100%;
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
    padding-top: 20px;
    

}

.Título {
    font-size: 40px;
}



.card__lista {
    text-align: center;
    min-height: 200px;
    width: 30%;
    color: white;
    font-size: 26px;

    margin-left: auto;
    margin-right: auto;
    list-style: none;

}

.section2 {
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
    padding: 40px
}

.section3 {
    /*propiedad display con valor flex es obligatoria */

    display: flex;
    border: 3px solid black;
    padding: 1px 1px 1px 1px;
    grid-auto-rows: min-content;

}

.section3__imagenes {
    border: 2px solid mediumaquamarine;
    padding: 2px 2px 2px 2px;
    margin: 2px;
}


.footer {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #21ecec;
    margin: 4px;

}

.footer__texto {
    text-align: left;
    margin-top: auto;
}

.footer__íconos {
    margin: 4px;
}

.section1__sobren {

    display: flex;
    height: 500px;
    width: 100%;
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
    padding-top: 20px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    
}

.logo{
  animation-name:roll-in-left;
    animation-duration: 2s;
    animation-iteration-count: initial;  
}

.grid {

    padding: 1rem;
    height: 1000px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1 fr 1fr 1fr;
    grid-template-areas:
        "img1 img1 img2"
        "img3 img4 img2"
        "img5 img4 img6"
        "img5 img4 img6"
        "img7 img7 img8";

    gap: 10px 10px;
}

.grid__hijo {
    border-radius: 10px;
    overflow: hidden;
    position: relative;


}

.grid__hijo--1 {
    grid-area: img1;
}

.grid__hijo--2 {
    grid-area: img2;
}

.grid__hijo--3 {
    grid-area: img3;
}

.grid__hijo--4 {
    grid-area: img4;
}

.grid__hijo--5 {
    grid-area: img5;
}

.grid__hijo--6 {
    grid-area: img6;
}

.grid__hijo--7 {
    grid-area: img7;
}

.grid__hijo--8 {
    grid-area: img8;
}

.grid__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__texto {
    color: black;
    background-color: cyan;
    position: absolute;
    bottom: 0;
    left: 0;
}

.main__contacto {
    display: grid;
    justify-content: center;
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
}

.section__faq {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2 fr;
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    height: 800px;
}

.section__faqLista{
 list-style-type: none;
    line-height: 35px;
   
}

@keyframes logo {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
   
    
}
    
/* ----------------------------------------------
 * Generated by Animista on 2022-7-26 16:41:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  


@media screen and (max-width: 1023px) {
    .grid {
        display: grid;
        width: auto;
        grid-template-columns: 1fr 1fr;
        grid-row: 4 fr;
        grid-template-areas:
            "img1 img2"
            "img3 img4"
            "img5 img6"
            "img7 img8"
        ;

    }
}

@media screen and (max-width: 599px) {
    .grid {
        display: grid;
        width: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7"
            "img8";
    }

    .header {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: 2fr;
        height: 200px;
        color: black;
        justify-content: space-between;
        align-items: center;
    }

    .nav__lista {
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 2fr;
        color: white;
    }


    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2 fr;
        justify-items: center;
    }

    .card__lista {

        margin-left: 0;
        text-align: center;
    }

    .section3__imagenes {
        display: grid;
        grid-template-columns: 2 fr;
        grid-template-rows: 7 fr;
        justify-items: center;
    }

}