@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.footer {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
  border-style: solid;
  border-color: aliceblue; }

.footer__texto {
  text-align: left;
  margin-top: auto;
  margin-left: 1rem;
  color: white; }

.footer__íconos {
  margin: 4px; }

.header {
  width: 100%;
  display: flex;
  background-color: aliceblue;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem; }

.nav__lista {
  display: flex;
  margin: 10px; }

a:link {
  text-decoration: none;
  font-weight: 500; }

a:visited {
  text-decoration: none; }

.nav__item {
  margin-left: 16px;
  font-size: 18px;
  color: antiquewhite;
  list-style: none;
  color: black; }

.section1 {
  display: flex;
  height: 700px;
  width: 100%;
  background-color: aliceblue;
  padding-top: 20px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly; }

.logo {
  width: 50%;
  margin: 20px; }

.section2 {
  background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
  text-align: center;
  padding: 1rem; }

.section3_ {
  background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
  border-color: aliceblue;
  padding: 1rem; }

.lo-que-limpiamos {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin: 0; }

.card__lista {
  text-align: center;
  min-height: 200px;
  width: 30%;
  color: white;
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  list-style: none; }

.section3 {
  /*propiedad display con valor flex es obligatoria */
  display: flex;
  border: 3px solid black;
  padding: 1px 1px 1px 1px;
  grid-auto-rows: min-content; }

.imágenes {
  background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
  object-fit: cover;
  width: 50%;
  margin: auto;
  border-color: aliceblue; }

.logo {
  animation-name: roll-in-left;
  animation-duration: 1s;
  animation-iteration-count: initial; }

.grid {
  padding: 3rem;
  height: 1000px;
  width: 1000px;
  display: grid;
  grid-template-columns: 450px 450px 450px;
  grid-template-rows: 1 fr 1fr 1fr;
  grid-template-areas: "img1 img1 img2" "img3 img4 img2" "img5 img4 img6" "img5 img4 img6" "img7 img7 img8";
  gap: 10px 10px; }

.grid__hijo {
  border-radius: 10px;
  overflow: hidden;
  position: relative; }

.grid__hijo--1 {
  grid-area: img1; }

.grid__hijo--2 {
  grid-area: img2; }

.grid__hijo--3 {
  grid-area: img3; }

.grid__hijo--4 {
  grid-area: img4; }

.grid__hijo--5 {
  grid-area: img5; }

.grid__hijo--6 {
  grid-area: img6; }

.grid__hijo--7 {
  grid-area: img7; }

.grid__hijo--8 {
  grid-area: img8; }

.grid__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.grid__texto {
  color: black;
  background-color: cyan;
  position: absolute;
  bottom: 0;
  left: 0; }

.contacto, .contacto2 {
  height: 500px;
  padding: 2rem;
  display: grid;
  background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
  justify-content: center; }

.contacto2 {
  text-align: center; }

.section__faq {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2 fr;
  background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  height: 1200px; }

.section__faqLista {
  list-style-type: none;
  line-height: 35px;
  font-size: 30px; }

.pasifunciona {
  font-size: 30px; }

.carousel-item img {
  height: 500px;
  object-fit: cover; }

.mapa {
  display: flex;
  justify-items: center;
  align-items: center; }

.sobre-nosotros {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  height: 800px;
  justify-items: center;
  padding: 3rem;
  text-align: center;
  background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1); }

.párrafo1 {
  font-size: 20px;
  color: white; }

.foto {
  animation-name: puff-in-center;
  animation-duration: 0.5s;
  animation-iteration-count: initial; }

.section__servicios {
  text-align: center;
  color: aliceblue;
  align-items: center;
  background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
  padding: 2rem;
  font-style: italic; }

.preguntas {
  color: black;
  font-style: italic;
  font-weight: 600; }

.mapa {
  object-fit: cover;
  padding: 1rem; }

.label {
  font-weight: 600;
  color: white; }

.lugar-de-trabajo {
  font-size: 26px;
  color: white;
  text-align: center; }

p:hover {
  font-weight: 900; }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ----------------------------------------------
 * Generated by Animista on 2022-7-26 16:41:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

/* ----------------------------------------------
 * Generated by Animista on 2022-8-1 19:44:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@media screen and (max-width: 1023px) {
  .grid {
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-row: 4 fr;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8"; }
  .nav__lista {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
    color: white;
    font-size: 6px;
    text-decoration: none; }
  .nav__item {
    font-size: 14px; }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 200px; }
  .imágenes {
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
    object-fit: cover;
    width: 100%;
    margin: auto; }
  .sobre-nosotros {
    height: 800px; } }

@media screen and (max-width: 599px) {
  .section1 {
    height: 500px; }
  .section2 {
    text-align: center; }
  .grid {
    display: grid;
    width: auto;
    padding: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8"; }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 200px; }
  .nav__lista {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
    color: white;
    font-size: 6px;
    text-decoration: none; }
  .nav__item {
    font-size: 14px; }
  .logo {
    height: 90px;
    width: auto; }
  .imágenes {
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
    object-fit: cover;
    width: 100%;
    margin: auto; }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2 fr;
    justify-items: center; }
  .card__lista {
    font-size: 30px;
    text-align: justify; }
  .section3__imagenes {
    display: grid;
    grid-template-columns: 2 fr;
    grid-template-rows: 7 fr;
    justify-items: center; }
  .section__faq {
    max-width: 599px;
    height: 1300px;
    justify-content: center;
    align-content: center; }
  .section__faqLista {
    font-size: 16px;
    word-wrap: break-word;
    text-align: center;
    white-space: no-wrap; }
  .sobre-nosotros {
    height: 1000px;
    padding: 2rem 2rem;
    margin: 0; }
  .foto {
    width: 300px; }
  .las-preguntas {
    font-size: 20px; }
  .respuestas {
    font-size: 14px; }
  .video {
    width: 300px; }
  .pasifunciona {
    font-size: 18px;
    font-weight: 600;
    color: black;
    font-style: italic; }
  .mapa {
    width: 300px; }
  .label {
    font-size: 14px; }
  .section__servicios {
    padding: 1rem; }
  .contacto, .contacto2 {
    height: 500px; } }
