@media screen and (max-width: 1023px) {
    .grid {
        display: grid;
        width: auto;
        grid-template-columns: 1fr 1fr;
        grid-row: 4 fr;
        grid-template-areas:
            "img1 img2"
            "img3 img4"
            "img5 img6"
            "img7 img8";
    }

    .nav__lista {
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 2fr;
        color: white;
        font-size: 6px;
        text-decoration: none;
    }

    .nav__item {
        font-size: 14px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        height: 200px;
    }

    .imágenes {

        background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
        object-fit: cover;
        width: 100%;
        margin: auto;
    }

    .sobre-nosotros {
        height: 800px;
    }



}

@media screen and (max-width: 599px) {

    .section1 {
        height: 500px;
    }

    .section2 {
        text-align: center;
    }

    .grid {
        display: grid;
        width: auto;
        padding: 1.5rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7"
            "img8";
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        height: 200px;
    }

    .nav__lista {
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 2fr;
        color: white;
        font-size: 6px;
        text-decoration: none;
    }

    .nav__item {
        font-size: 14px;
    }

    .logo {
        height: 90px;
        width: auto;
    }

    .imágenes {

        background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
        object-fit: cover;
        width: 100%;
        margin: auto;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2 fr;
        justify-items: center;
    }

    .card__lista {

        font-size: 30px;
        text-align: justify;
    }

    .section3__imagenes {
        display: grid;
        grid-template-columns: 2 fr;
        grid-template-rows: 7 fr;
        justify-items: center;
    }

    .section__faq {
        max-width: 599px;
        height: 1300px;
        justify-content: center;
        align-content: center;

    }

    .section__faqLista {
        font-size: 16px;
        word-wrap: break-word;
        text-align: center;
        white-space: no-wrap;

    }

    .sobre-nosotros {
        height: 1000px;
        padding: 2rem 2rem;
        margin: 0;
    }

    .foto {
        width: 300px;
    }

    .las-preguntas {
        font-size: 20px;
    }

    .respuestas {
        font-size: 14px;
    }

    .video {
        width: 300px;
    }

    .pasifunciona {
        font-size: 18px;
        font-weight: 600;
        color: black;
        font-style: italic;
    }

    .mapa {
      width: 300px;  
    }

    .label {
        font-size: 14px;
    }

    .section__servicios {
        padding: 1rem;
       
    }

    .contacto {
        height: 500px;;
    }
    
        
    }