
.section1 {

    display: flex;
    height: 700px;
    width: 100%;
    background: white ;
    background-color: white;
    padding-top: 20px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;

}

.logo {
    width: 50%;
    margin: 20px;
}

.section2 {
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
    padding: 40px;
    height: 400px;
    display: flex;
    align-items: center;
}

.Título {
    font-size: 40px;
}

.card__lista {
    text-align: center;
    min-height: 200px;
    width: 30%;
    color: white;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;

}



.section3 {
    /*propiedad display con valor flex es obligatoria */

    display: flex;
    border: 3px solid black;
    padding: 1px 1px 1px 1px;
    grid-auto-rows: min-content;

}

.imágenes {
    
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
    object-fit: cover;
    width: 50%;
    margin: auto;
}



.logo {
    animation-name: roll-in-left;
    animation-duration: 1s;
    animation-iteration-count: initial;
}

.grid {

    padding: 1rem;
    height: 1000px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1 fr 1fr 1fr;
    grid-template-areas:
        "img1 img1 img2"
        "img3 img4 img2"
        "img5 img4 img6"
        "img5 img4 img6"
        "img7 img7 img8";

    gap: 10px 10px;
}

.grid__hijo {
    border-radius: 10px;
    overflow: hidden;
    position: relative;


}

.grid__hijo--1 {
    grid-area: img1;
}

.grid__hijo--2 {
    grid-area: img2;
}

.grid__hijo--3 {
    grid-area: img3;
}

.grid__hijo--4 {
    grid-area: img4;
}

.grid__hijo--5 {
    grid-area: img5;
}

.grid__hijo--6 {
    grid-area: img6;
}

.grid__hijo--7 {
    grid-area: img7;
}

.grid__hijo--8 {
    grid-area: img8;
}

.grid__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__texto {
    color: black;
    background-color: cyan;
    position: absolute;
    bottom: 0;
    left: 0;
}

.contacto {
    display: grid;
    justify-content: center;
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
}

.section__faq {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2 fr;
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    height: 800px;
}

.section__faqLista {
    list-style-type: none;
    line-height: 35px;

}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.mapa {

    height: auto;
    object-fit: cover;

}

.sobre-nosotros {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 2rem;
    text-align: center;
    background-image: linear-gradient(to right, #051937, #00476f, #007c9e, #00b3ba, #12ebc1);
}

.párrafo1 {
    font-size: 20px;
    color: white;
}

.foto {
    animation-name: puff-in-center;animation-duration: 1s;
    animation-iteration-count: initial;


}


@keyframes logo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-26 16:41:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-1 19:44:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }